<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Emoción</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Predicción de Emoción</h1>
        <form method="POST">
            <textarea name="text" rows="10" cols="50" placeholder="Ingresa un texto de 300 palabras o menos" required></textarea><br><br>
            <button type="submit">Predecir Emoción</button>
        </form>
        
        {% if prediction %}
            <h3>Resultado de la Predicción: {{ prediction }}</h3>
        {% endif %}
    </div>
</body>
</html>